*{
	margin: 0;
	padding: 0;
}
ul,li{
	list-style: none;

}
.scrollBanner{
	position: relative;
	overflow: hidden;
	width: 600px;
	height: 300px;
	margin: 0 auto;
	}
.bannerBox{
	position: absolute;
	width: 2400px;
	height: 300px;

}
.bannerBox li{
	float: left;
}
.bannerBox li a img{
	width: 600px;
	height: 300px;
	/*display: block;*/
}
.scrollBanner .arr_left{
	display: inline-block;
	position: absolute;
	top: 150px;
	left: 100px;
	width: 80px;
	height: 100px;
	background: red;
	text-decoration:none;
	font:25px/100px "italic";
	cursor: pointer;//当鼠标放上时 显示小手
}
.scrollBanner .arr_right{
	display: inline-block;
	position: absolute;
	top: 150px;
	right: 100px;
	width: 80px;
	height: 100px;
	background: red;
	text-decoration:none;
	font:25px/100px "italic";
	cursor: pointer;//当鼠标放上时 显示小手
	//可以设置background-image
}
/*.scrollBanner .arr_right:hover{
	background:url();悬浮的样式
}*/
.scrollBanner .scroll_num{
	position: absolute;
	
	top: 200px;
	left: 50%;
	margin-left: -27px;
}
.scrollBanner .scroll_num span{
	width: 15px;
	height: 15px;
	 cursor: pointer;
	 margin-left: 5px;
	 display: inline-block;
	/* 简单的方式是用图片代替悬停前后
	background: url();*/
	border-radius: 50%;
	background: red;
}
/*.scronllBanner .scroll_num span .current{
	background: url();
} 悬停的样式*/